.success {
  border: 1px solid darkgreen;
  background-color: lightgreen;
  color: darkgreen;
}
.error {
  border: 1px solid darkred;
  background-color: lightred;
  color: darkred;
}
.warning {
  border: 1px solid orange;
  background-color: lightyellow;
  color: orange;
}
