* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2")
      format("woff2"),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2")
      format("woff2"),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  /*COLORS*/
  --primary-color: black;
  --secondary-color: #4bb84a;
  --light-color: white;
  --tertiary-color: #0691ff;
  /*FONTS*/
  --primary-font: Circular, Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 15px;
}

/* HEADER */

.header {
  background-color: var(--primary-color);
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  width: 115px;
}

.header-logo img {
  width: 100%;
}

.header-mobile-button {
  display: block;
  background-image: url("../images/menu-icon.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.header-menu {
  list-style-type: none;
  padding: 0px;
  color: var(--light-color);
  display: none;
}

.header-menu li {
  display: inline-block;
}

.header-menu li a {
  padding: 15px;
  font-weight: bold;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.header-menu li a:hover {
  color: var(--secondary-color);
}

.header-menu li:nth-child(3):after {
  content: "|";
}

/* HERO */

.hero {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

.hero .wrapper {
  height: 50vh;
}

/* OPTIONS */

.options {
  text-align: center;
}

.options-items {
  display: flex;
  flex-direction: column;
}

.option {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.option-image {
  flex-shrink: 0;
}

.option-image img {
  width: 100%;
  max-width: 180px;
}

/* FOOTER */

.footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding-top: 20px;
}

.footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer .wrapper nav {
  grid-column: span 2;
  padding-top: 15px;
}

.footer-menu li {
  display: inline;
}

.footer-menu li a {
  padding: 5px;
}

.footer-menu li:last-child {
  display: block;
  width: 100%;
}

.copy span {
  display: block;
  text-align: right;
}

@media all and (min-width: 768px) {
  .header-menu {
    display: block;
  }

  .header-mobile-button {
    display: none;
  }

  .hero .wrapper {
    background: url("../images/premium_dancer.png") no-repeat;
    background-position: right top;
    background-size: 50%;
    animation-name: intro;
    animation-duration: 3s;
    animation-iteration-count: 1s;
    animation-timing-function: linear;
  }

  @keyframes intro {
    from {
      background-size: 60%;
    }
    to {
      background: 50%;
    }
  }

  .options-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .option {
    width: 50%;
  }

  .footer-menu li:last-child {
    display: inline;
    width: auto;
  }
}

@media all and (min-width: 1200px) {
  .options-items {
    text-align: center;
  }

  .option {
    width: 25%;
    flex-direction: column;
    text-align: center;
  }
}
