body {
  margin: 0;
}
/* .wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  grid-gap: 5px;
} */

.item {
  color: white;
}
.item1 {
  background: lightpink;
}

.item2 {
  background: purple;
}

.item3 {
  background: brown;
}

.item4 {
  background: lightblue;
}
