.container {
  background-color: pink;
  border: 1px solid pink;
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.item {
  box-sizing: border-box;
  width: 80px;
  height: 25px;
  text-decoration: underline;
}
