.holder {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
}
.popup {
  width: 200px;
  margin: 0 auto;
  border-radius: 22.5px;
  background: red;
  margin: 30px auto 0;
  padding: 6px;
}

.content {
  background: white;
  padding: 28px 26px 33px 25px;
  align-items: center;
  font-weight: bold;
}
