.header,.main,.footer {
  border:1px solid red
}

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2")
    format('woff2'),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff")
    format('woff');
  font-weight: 300;
  font-style:normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2')
    format('woff2'),
    url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff')
    format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  /*COLORS*/
  --primary-color:black;
  --secondary-color: #4bb84a;
  --light-color:white;
  /*FONTS*/
  --primary-font: Circular, Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 16px
}

.menu {
  list-style-type: none;
  padding: 0px
}





