* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 24px;
}

.container {
  margin: 20px;
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 28px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }
  .container {
    margin: 30px 40px;
  }
}

@media all and (min-width: 1140px) {
  h1 {
    font-size: 42px;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    line-height: 32px;
  }

  .container {
    margin: 190px auto 0;
    max-width: 750px;
  }
}
