#movie1,
#movie2 {
  display: block;
  width: 500px;
  margin: 10px 0;
}

.js-button {
  background-color: aquamarine;
  width: 150px;
  border-radius: 22.5px;
}
.question {
  color: blue;
  font-weight: bold;
}
